body {
    background-color: darkslateblue;
}


.hero-image {
    background-image: url("../../img/about.JPG");
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 94vh;
    width: 40vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
   }